body{
    background-color: black;
    text-align: center; /*Centralizar todo o conteudo do body*/
}

#titulo{
    color: aliceblue;
}

.quadrado{
    text-align: center;
    width: 50px;
    height: 50px;
    background: #eee;
    display: inline-block; /* Tamanho dele todo*/
    padding: 40px; /*Dentro do conteudo*/
    font-size: 60px;
    margin: 5px;
    cursor: pointer; /*Quando passar o mouse no quadrado mudar a mão do mouse*/
    color: #eee;
}

.jogador  {
    font-size: 25px;
    margin-top: 10px;
    color: #eee;
}

.vencedor{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eee;

}

button{
    margin-top: 10px;
    width: 100px;
    height: 30;
    background: #eee;
    cursor: pointer;
}